{% extends "users/home.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/password.css' %}">

<div class="password-container">
  <div class="password-box">
    <h2>Forgot Your Password?</h2>
    <p>Enter your registered email address. We’ll send you a link to reset your password.</p>
    
    <form method="POST" class="password-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-submit">Send Reset Link</button>
    </form>

    <p class="password-link"><a href="{% url 'login' %}">Back to Login</a></p>
  </div>
</div>
{% endblock %}
